
@using Everynote.Entities.Messages
@model ErrorViewModel

@{
	ViewBag.Title = Model.Title;
}

@section csses {
	<link href="~/Content/login-register.css" rel="stylesheet" />
}

<section class="login-info">
	<div class="container">
		<div class="row main">
			<div class="form-header">
				<h1 class="text-center">@Model.Header</h1>
			</div>
			<div class="main-content">
				<div class="text-danger">
					<h2><span class="glyphicon glyphicon-remove-circle">&nbsp;&nbsp;&nbsp;&nbsp;@Model.Title</span></h2>
				</div>
				<hr />
				<p class="text-justify text-danger">
					@foreach (ErrorMessage error in Model.Items)
					{
						@error.Message <br />
					}
				</p>
			</div>
		</div>
	</div>
</section>

@section scripts {
	<script type="text/javascript">
		window.addEventListener('load', function () {

			@if (Model.IsRedirecting) {
				@Html.Raw("setTimeout(function () {" +
						"window.location ='" + Model.RedirectingUrl + "'" +
						"}," + Model.RedirectingTimeout + ");"
			   );
			}

			//setTimeout(function () {
			//	window.location = "/Home/Index";
			//}, 3000);
		});
	</script>
}